.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 80px 80px 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 80%;
  height: 3em;
}

.complete-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 2.5em;
  margin-bottom: 12px;
  background: #9e9e9e;
  color: #fff;
  text-decoration: line-through;
  
}

.task-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.completed-task{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.task-input:focus{
  border-bottom: 1px solid black;
  outline: none;
}

.task-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-style: dashed;
  border-color: #c5c5c5;
  margin-top: 2em;
}

.task-list{
  width: -webkit-fill-available;
  margin: 2em 2em 2em 2em;
}

.todo-task{
  height: 2.5em;
  margin-bottom: 12px;
}

.todo-task input[type=checkbox] {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.todo-list{
  padding: 0;
}

.delete-btn{
  background-image: url("../asset/delete.png");
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin-right: 2em;
}

.delete-btn:hover{
  background-image: url("../asset/delete_hover.png");
  cursor:pointer;
  width: 16px;
  height: 16px;
}

.add-btn{
  border: none;
  background-color: darkgrey;
  width: 50px;
  height: 32px;
  margin-left: 15em;
}

.add-btn:hover{
  border: none;
  background-color: #c2dace;
  width: 50px;
  height: 32px;
  cursor: pointer;
  margin-left: 15em;
}

.dot {
  height: 10px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.search-bar{
  width: 15rem;
  background:rgb(228 228 228);
  border: none;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
