.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 80px 80px 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.single-task{
  display: flex;
  flex-direction: row;
  align-items: center
}

.task-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    height: 3em;
}

.task-input:focus{
  border-bottom: 1px solid black;
  outline: none;
}

.task-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.task-list{
  width: -webkit-fill-available;
  margin: 2em 2em 2em 2em;
}

.check-btn{
  background-image: url("./asset/check.png");
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.check-btn:hover{
  background-image: url("./asset/check_hover.png");
  cursor:pointer;
  width: 32px;
  height: 32px;
}

.delete-btn{
  background-image: url("./asset/delete.png");
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
}

.delete-btn:hover{
  background-image: url("./asset/delete_hover.png");
  cursor:pointer;
  width: 16px;
  height: 16px;
}

.add-btn{
  background-image: url("./asset/plus.png");
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.add-btn:hover {
  background-image: url("./asset/plus_hover.png");
  cursor:pointer;
  width: 32px;
  height: 32px;
}

.styled-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #a4262c;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 10px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a4262c;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #a4262c;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.complete {
  color : green;
}

.imcomplete {
  color : red;
}